

<div class="container">
<div class="row">
<div class="col-md-9">
<div class="card shadow-effect">
<img src="https://images.pexels.com/photos/8004018/pexels-photo-8004018.jpeg?_gl=1*1ict7kb*_ga*MTg1MDI1NzM2LjE3NTI2MTU0NTg.*_ga_8JE65Q40S6*czE3NTI2MTU0NTckbzEkZzEkdDE3NTI2MTU1NTIkajM0JGwwJGgw" alt="" class="card-img-top img-fluid">
<div class="card-body">
<small class="bg-light text-danger text-center">Design</small>
<small class="bg-light text-success text-center ms-2">Featured</small>
<small class="bg-light text-info text-center ms-2">Views - 118,475</small>
<small class="bg-light text-danger text-center ms-2">LAST UPDATED 07 April, 2025</small>

<h1 class="mt-3 mb-3">MODERN WORKSPACE SETUP</h1>
<p>A well-designed workspace with a reliable laptop can transform the way you work. Whether you're at home or in the office, a clean, organized setup boosts focus, enhances productivity, and supports creativity. Add ergonomic furniture and proper lighting to complete a space that helps you stay efficient and inspired throughout the day.</p>
</div>
</div>

<app-comment-form></app-comment-form>
<app-comment-list></app-comment-list>
</div>

<div class="col-md-3">
<app-post-card></app-post-card>
<app-post-card></app-post-card>
<app-post-card></app-post-card>
</div>
</div>
</div>

<!-- <div class="container">
<div class="row">
<div class="col-md-9">
<div class="card shadow-effect">
<img src="{{postData.postImgPath}}" alt="" class="card-img-top img-fluid">
<div class="card-body">
<small class="bg-light text-danger text-center">{{postData.category.category}}</small>
<small class="bg-light text-success text-center ms-2" *ngIf="postData.isFeatured">Featured</small>
<small class="bg-light text-info text-center ms-2">Views - {{postData.views}}</small>
<small class="bg-light text-danger text-center ms-2">LAST UPDATED - {{postData.createdAt.toMillis() | date}}</small>

<h1 class="mt-3 mb-3">{{postData.title}}</h1>
<p [innerHTML]="postData.content"></p>
</div>
</div>

<app-comment-form></app-comment-form>
<app-comment-list></app-comment-list>
</div>

<div class="col-md-3">

<div *ngFor="let similarPost of similarPostArray">
<app-post-card [postData]="similarPost"></app-post-card>
</div>

</div>
</div>
</div> -->



