<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/32991140/pexels-photo-32991140.jpeg?_gl=1*19y5ber*_ga*NTAxNzk4MTguMTc1MjU5NTYyMg..*_ga_8JE65Q40S6*czE3NTI1OTU2MjEkbzEkZzEkdDE3NTI1OTYzMzgkajUxJGwwJGgw" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Featured</small>
        <small class="bg-light text-info text-center ms-3">Views - 120,564</small>

        <h5 class="mt-1">ARCHITECTURAL ELEGANCE: AESTHETIC MARVEL IN THE HEART OF UKRAINE </h5>
        <P>This stunning building in Ukraine showcases modern elegance with cultural depth, blending contemporary design and traditional elements into a breathtaking architectural statement.</P>

        <small class="bg-light text-warning text-center">LAST UPDATED 25 MAY, 2025</small>
    </div>
</div>

<!-- Only valid if firebase database storage is exist (storage bucket) 
 -> this only visible when post id is passed in url. (http://localhost:4200/post/OX34gUWyxviaescWneGJ)
 <div class="card shadow-effect" *ngIf="postData" [routerLink]="['/post', postData.id]">
    <img src="{{postData.data.postImgPath}}" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">{{postData.data.category.category}}</small>
        <small class="bg-light text-success text-center ms-3" *ngIf="postData.data.isFeatured">Featured</small>
        <small class="bg-light text-info text-center ms-3">Views - {{postData.data.views}}</small>

        <h5 class="mt-1">{{postData.data.title}}</h5>
        <p>{{postData.data.excerpt}}</p>

        <small class="bg-light text-warning text-center">LAST UPDATED - {{postData.data.createdAt.toMillis() | date}}</small>
    </div>
</div> -->