form input,
form textarea {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
}

form input:focus,
form textarea:focus {
  border-color: #17a2b8;
  box-shadow: none;
}

.btn-send {
  height: 58px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}