.btn-add {
  height: 58px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.text-theme-primary{
  color: var(--primary-color);
}

.bg-secondary-theme{
  background-color: var(--secondary-color);
}

